@import "~antd/dist/antd.min.css";

:root {
  --primary: #2db84c;
  --white: #fff;
  --text: rgba(0, 0, 0, 0.87);
  --label: rgba(0, 0, 0, 0.54);
  --dark-silver: rgba(0, 0, 0, 0.12);
  --hover: rgba(0, 0, 0, 0.4);
  --placeholder: rgba(0, 0, 0, 0.2);

  --global-height: 64px;
  --sidebar-width: 100px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  line-height: 2.3;
}

a[href] {
  text-decoration: none;
  color: var(--white);
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

button,
input,
[tabindex] {
  outline: none;
  border: none;
}

//placeholder color
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--placeholder);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--placeholder);
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--placeholder);
}

//modal antd
.ant-modal-content {
  border-radius: 4px;
}

.ant-modal-header {
  padding: 20px 24px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom: 1px solid var(--dark-silver);
}

.ant-modal-title {
  font-size: 2rem;
  line-height: 2.4rem;
}
